@font-face {
    font-family: rubik;
    src: url(../../src/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: jaro;
    src: url(../../src/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: csfont;
    src: url(../../src/fonts/cs_regular.ttf);
}

body {
    background-image: url(../../src/images/background-agents.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: rubik, arial, sans-serif;
    background-color: black;
}

.container {
    padding: 0 100px;
}




/* media */

@media (max-width: 1300px) {
    .container {
        padding: 0;
    }
    body {
        background-image: url(../../src/images/background-agents-cell.jpg);
    }
}

@media (max-width: 700px) {
    body {
        background-image: linear-gradient(to right, rgba(255, 123, 0, 0.205), rgba(0, 81, 255, 0.253));
        background-repeat: repeat;
    }
}