@font-face {
    font-family: rubik;
    src: url(../../src/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: jaro;
    src: url(../../src/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: csfont;
    src: url(../../src/fonts/cs_regular.ttf);
}

body {
    font-family: rubik, arial, sans-serif;
    background-color: #1a1a1a;
}

.container {
    padding: 0 100px;
}

.home-page {
    background-image: url(../../src/images/background-agents.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
    text-indent: 20px;
}

a {
    color: rgb(0, 187, 187);
    text-decoration: none;
}

a:hover {
    color: rgb(217, 255, 255);
    text-decoration: underline;
}

/* media */

@media (max-width: 1300px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .home-page {
        background-image: linear-gradient(to right, rgba(255, 123, 0, 0.205), rgba(0, 81, 255, 0.253));
        background-repeat: repeat;
    }
}